

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.flex-container{
    display: flex;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex:1;
}
.column + .column {
    margin-left:10px;
}
.search-result img{
    width: 100%;
    margin-bottom: 1em;
}
