

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.search-result {
    min-height: 200px;
}
.search-result img{
    max-height: 100%;
    width: auto;
}















