<div class="container">
    
    <div class="row">
        <div class="col-xs-12">
            <h1>Gif results for: {{searchTerm}}</h1>
            <hr>
        </div>
    </div>

    <div class="flex-container">
        <div class="column">
            <div class="search-result" ng-repeat="r in gifResult.data | filter: firstSet">
                <search-result result="r"></search-result>
            </div>
        </div>
        
        <div class="column">
            <div class="search-result" ng-repeat="r in gifResult.data | filter: secondSet">
                <search-result result="r"></search-result>
            </div>
        </div>
        
        <div class="column">
            <div class="search-result" ng-repeat="r in gifResult.data | filter: thirdSet">
                <search-result result="r"></search-result>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12">
            <p>Page: {{ pageNumber }}</p>
            <div class="btn-group" role="group" aria-label="Basic example">
              <a class="btn btn-primary" 
                 href="#!/search/{{searchTerm}}/{{pageNumber - 1}}" 
                 role="button" 
                 ng-class="{{ {disabled: pageNumber <= 1} }}"
                 >Previous</a>
              <a class="btn btn-primary" 
                 href="#!/search/{{searchTerm}}/{{ pageNumber + 1 }}" 
                 role="button"
                 >Next</a>
            </div>
        </div>
    </div>
    
</div>